<footer class="bg-bright-yellow text-stone-950 h-screen sticky bottom-0">
  <div class="content flex flex-col justify-between h-full">
    <div>
      <h2 class="hero-title">
        Nice to meet you. Let's connect.
      </h2>
      <a class="bg-stone-950 text-stone-50 px-32 py-24 rounded-3xl inline-block mt-100 text-lg font-semibold"
        href="https://www.linkedin.com/in/elikemdaniels/" target="_blank">
        Schedule a call
      </a>
    </div>
    {{# Social links #}}
      <div class="flex gap-32 mt-100">
        <a href="https://www.linkedin.com/in/elikemdaniels/" class="font-semibold text-xl" target="_blank">
          LinkedIn
        </a>
        <a href="https://github.com/elikemdaniels" class="font-semibold text-xl" target="_blank">
          GitHub
        </a>
        <a href="https://twitter.com/elikemdaniels" class="font-semibold text-xl" target="_blank">
          Twitter
        </a>
      </div>
  </div>
</footer>